body {
  
}

.content {
  display: flex;
  flex-direction: row;
}

tr {
  cursor: pointer;
}

.logo {
  height: 20px;
}

.team-container {
  display: flex;
  flex-direction: row;
}

.team-logo{
  height: 100px;
}

.coach-img {
  height: 75px;
  border-radius: 50%;
}

.venue-img {
  height: 300px;
}

.player-list-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.player-list-item img {
  height: 50px;
  border-radius: 50%;
}
